* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html,body {
	font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	margin: 0;
	position: relative;
	background: #f8f8f8;
}

#top-header-bar {
	background: none;
	width: 100%;
	color: #ffffff;
}

#top-header-bar span.fa.fa-bars {
	color: #fff;
}
#top-header-bar .navbar-collapse.show #top-header-bar-nav {
	background: rgba(52, 73, 94, 0.35);
	border: 1px solid #2c3e60;
	border-radius: 2px;
}

li.nav-item {}

#top-header-bar .navbar-collapse.show #top-header-bar-nav li:active {
	background: rgba(0,0,0,0.34);
}
#top-header-bar .navbar-collapse.show #top-header-bar-nav li {
	margin: 0;
	padding: 10px;
}
#header {
	background-size: cover;
	background-image: url(/img/bg2_pca.jpg); /*radial-gradient( circle farthest-corner at 22.4% 21.7%,  rgba(4,189,228,1) 0%, rgba(2,83,185,1) 100.2% );	*/
	border-bottom: 1px solid #026fc4;
	padding: 10px 0;
}

#header-text {
	margin-top: 40px;
	position: relative;
	text-align: center;
	margin-bottom: 100px;
}

#header-text-subtitle {
	color: #ccc;
	display: block;
	font-size: .96em;
	letter-spacing: .1px;
	margin: 10px 0;
}

#header-text-title {
	color: #eee;
	display: block;
	font-family: inherit;
	font-size: 2.1em;
	font-weight: 700;
	letter-spacing: .12em;
	margin: 5px;
	text-shadow: 0 1px 3px #384342;
	text-transform: uppercase;
}

.wrapper {
	margin: 0 auto;
	max-width: 1280px;
	padding-bottom: 20px;
	position: relative;
	width: 100%;
}

.section-title {
	margin: 30px 0 30px;
}

.section-title .title-text {
	color: #475b6b;
	display: block;
	font-family: inherit;
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 0.1rem;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
}

span.section-title-after {
	background: #ca3c57;
	border-radius: 5px;
	display: block;
	height: 3px;
	margin: 11px auto;
	width: 50px;
}

.content-section.odd {
	border-bottom: 1px solid #d4d4de;
}

.content-section.even {
	background: #f8f8f8;
}

.content-section {
	padding-bottom: 10px;
	padding-top: 25px;
}

table#skills-blocks {
	border-collapse: separate;
	margin: 30px auto;
	width: 100%;
	text-align: center;
}

.skill-block {
	text-align: center;
	width: 300px;
	padding: 40px 20px;
	display: inline-block;
	background: #fff;
	border-radius: 5px;
	box-shadow: 0 2px 4px #eee;
	margin: 10px;
	border: 1px solid #dedede;
	vertical-align: top;
}

.skill-icon {
	background: url(/img/pca_skills_a.png);
	display: block;
	height: 80px;
	margin: 10px auto;
	width: 80px;
}

#web-design-block .skill-icon {
	background-position: 0 -80px;
}

#mobile-app-development-block .skill-icon {
	background-position: 0 -160px;
}

.skill-name {
	color: #555;
	font-size: 1em;
	font-weight: 400;
	text-transform: uppercase;
	font-family: inherit;
	margin: 20px 0 15px 0;
	display: block;
}

#top-header-bar-name {
	color: #ddd;
	float: left;
	font-family: inherit;
	letter-spacing: .09em;
	text-transform: uppercase;
	text-shadow: 0px 1px 3px rgba(0,0,0,0.4);
}

ul#top-header-bar-nav {
	list-style: none;
	padding: 0;
}

#top-header-bar-nav li {
	color: #ccc;
	cursor: pointer;
	display: inline;
	font-family: inherit;
	font-size: .75em;
	letter-spacing: 1px;
	margin: 5px 20px;
	text-transform: uppercase;
	text-shadow: 0px 1px 3px rgba(0,0,0,0.4);
}
#top-header-bar-nav li:hover {
	color: #dcdcdc;
}

.section-title .subtitle-text {
	color: #777;
	display: block;
	font-size: 0.95em;
	margin-top: 13px;
	padding-bottom: 10px;
	text-align: center;
}

hr.content-separator {
	background: #d4d4de;
	border: none;
	border-bottom: 1px solid #eee;
	height: 1px;
	left: 0;
	margin: 10px auto 0;
	position: absolute;
	right: 0;
	width: 25%;
}

#portfolio-items {
}

#portfolio-items .portfolio-item {
	border: 5px solid #fff;
	border-radius: 3px;
	box-shadow: 0 0 6px #ddd;
	cursor: pointer;
	margin: 20px;
	padding: 0;
	position: relative;
}

#portfolio-items tr {
	height: 250px;
}

span.portfolio-item-image {
	background-repeat: no-repeat;
	border-radius: 3px;
	display: block;
	height: 247px;
	margin: 1px;
	z-index: 1;
}

.portfolio-item-hover {
	background: rgba(35,139,171,0.46);
	position: absolute;
	top: 0;
	z-index: 1;
	display: none;
	height: 100%;
	width: 100%;
}

#portfolio-items #eventscell .portfolio-item-image {
	background-image: url(/img/portfolios/eventscell.png);
	background-size: cover;
	top: 0;
	background-position: center;
}

#portfolio-items #charity .portfolio-item-image {
	background-image: url(/img/portfolios/charity-site.png);
	background-size: 100%;
}

#portfolio-items #vvisionalpha .portfolio-item-image {
	background-image: url(/img/portfolios/vvisionalpha.png);
	background-size: 100%;
}

#portfolio-items #ntca .portfolio-item-image {
	background-image: url(/img/portfolios/ntca.png);
	background-size: 100%;
}

#portfolio-items #shambhavishilpa .portfolio-item-image {
	background-image: url(/img/portfolios/shambhavishilpa.png);
	background-size: 100%;
}

#portfolio-items #derextech .portfolio-item-image {
	background-image: url(/img/portfolios/derextech.png);
	background-size: 100%;
}

#portfolio-items #prgroups .portfolio-item-image {
	background-image: url(/img/portfolios/prgroups.png);
	background-size: 100%;
}

#portfolio-items #invictolimited .portfolio-item-image {
	background-image: url(/img/portfolios/invictolimited.png);
	background-size: 100%;
}

.portfolio-item-hover-text {
	background: #f6f6f6;
	border-radius: 2px;
	display: block;
	margin: auto 15px;
	padding: 20px 40px;
	text-align: center;
	position: absolute;
	bottom: 15px;
	left: 0;
	right: 0;
}

.portfolio-item-hover-text-title {
	color: #666;
	display: block;
	font-family: inherit;
	font-style: normal;
	font-weight: 700;
}

.portfolio-item-hover-text-subtitle {
	color: #aaa;
	display: block;
	font-size: 13px;
	font-style: italic;
	margin-top: 5px;
}

#about_me_container {
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0 2px 4px #ddd;
	margin: 0 10px 20px;
	padding: 0;
}

#about_me_logo {
	background: url(/img/about_me_bg.jpg);
	background-position: 50%;
	background-size: cover;
	border-radius: 4px 4px 0 0;
	height: 130px;
	position: relative;
	width: 100%;
}

#about_me_text {
	color: #444;
	font-size: 14px;
	line-height: 23px;
	padding: 30px 40px;
	text-align: center;
}

#about_me_text a {
	color: #333;
	font-weight: 700;
	text-decoration: none;
}

span#about_me_logo_img {
	background: url(/img/p_logo_128_plain.png);
	background-size: 100%;
	bottom: 0;
	display: block;
	height: 100px;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	top: 0;
	width: 100px;
}

#popup_container {
	background: rgba(35,139,171,0.46);
	display: none;
	height: 100%;
	position: fixed;
	width: 100%;
	z-index: 2;
}

#portfolio_item_details_info {
	margin: 0;
	padding: 20px 10px;
	position: relative;
	border-bottom: 1px solid #ddd;
}

#portfolio_item_details_info .image {
	border: 1px solid #ccc;
	border-radius: 3px;
	box-shadow: 0 0 3px #eee;
	display: block;
	height: 150px;
	padding: 5px;
	width: 225px;
	background: url(http://i.imgur.com/BecIrmJ.jpg);
	background-repeat: no-repeat;
	background-position: 13px;
	margin: 10px auto;
}

#header-text .section-title-after {
	margin: 25px auto;
	width: 100px;
}

.skill-block .section-title-after {
	height: 2px;
	background: #ca6377;
	margin-top: 17px;
	width: 50px;
}

span.skill-text {
	text-align: center;
	font-size: 13px;
	display: block;
	margin-top: 19px;
	line-height: 25px;
	padding: 0px 10px;
	color: #666;
}

td#mobile-app-development-block .skill-text {
}

#contact_me_form {
	margin: 0 auto;
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 3px;
	box-shadow: 0px 0px 4px #eee;
	position: relative;
	padding: 15px;
}

.text_row .text_box {
	display: inline;
	padding: 12px 12px 16px 12px;
	border: none;
	background: none;
	font-size: 13px;
	font-family: inherit;
	border-bottom: 1px solid #ccc;
	margin-top: 20px;
	width: 100%;
	resize: none;
	transition: border-color 0.218s;
}

.text_box:focus {
	font-style: normal;
	outline: none;
	border-color: #ca3c57;
}

.text_row {
}

.text_row label {
	position: absolute;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
	color: #444;
	margin-left: 10px;
}

.text_group {
	margin-top: 22px;
	position: relative;
}

.text_group.single {
	width: 100%;
}

label.required_text_box::after {
	content: '*';
	color: #ca3c57;
	font-size: 18px;
	float: right;
	margin-top: -3px;
	font-weight: bold;
	margin-left: 1px;
}

#c_form_submit {
	display: block;
	border: none;
	background: none;
	color: #eee;
	font-size: 16px;
	font-family: inherit;
	text-transform: uppercase;
	cursor: pointer;
	background: #ca3c57;
	border: 1px solid #af354c;
	padding: 10px 50px;
	border-radius: 3px;
	transition: all 0.218s;
	outline: none;
	margin: 10px auto;
}

#c_form_submit:hover {
	box-shadow: 0px 2px 4px #c1a1b1;
	outline: none;
}

#c_form_submit:active {
	box-shadow: inset 0px 0px 5px #af354c;
}

button#c_form_submit::after {
	font-family: "Font Awesome 5 Free";
	content: '\f1d8';
	margin-top: 1px;
	float: right;
	margin-left: 10px;
	font-size: 14px;
	font-weight: bold;
}

#portfolio_item_details_container {
	background: #fff;
	border: 1px solid #238bab;
	border-radius: 3px;
	padding: 0;
	padding-bottom: 0;
	position: relative;
	overflow: auto;
	margin: 20px auto;
	height: 95%;
}

.image_desc {
	margin-top: 10px;
}

span.image_desc_title {
	display: block;
	font-size: 1.5em;
	font-weight: bold;
	font-family: inherit;
	letter-spacing: 0.02em;
	color: #444;
}

.image_desc_link a {
	color: #777;
	text-decoration: none;
	display: block;
}

.image_desc_text {
	font-size: 0.94em;
	color: #333;
}

#portfolio_item_details_ss {
	padding: 0px;
	margin: 0px;
	overflow: auto;
	position: relative;
}

#portfolio_ss_slideshow {
	width: 100%;
	border-radius: 0px 0 3px 3px;
}

#popup_close {
	width: 25px;
	height: 25px;
	margin: 10px 10px 0 0;
	display: block;
	background: url(/img/mobile_sprite.png) no-repeat -330px -77px;
	cursor: pointer;
	opacity: 0.8;
	position: absolute;
	right: 0;
	top: 10px;
	z-index: 44;
}

#popup_close:hover {
	opacity: 1;
}

#footer {
	background: #f8f8f8;
	text-align: center;
	position: relative;
}

#footer .wrapper {
	width: 90px;
	padding-top: 50px;
}

#footer #footer-logo {
	margin: 40px auto;
	width: 80px;
	height: 80px;
	background: url(/img/p_logo_128_dark.png) no-repeat;
	background-size: 100%;
}

img.portfolio_ss_slideshow_item {
	width: 100%;
}
